body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

header {
  background-color: #4a55a2;
  font-size: 20px;
}

header .flex {
  justify-content: start;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

header a {
  text-decoration: none;
  color: #c5dff8;
}

.filter {
  background-color: #c5dff8;
}

.filter a {
  text-decoration: none;
  color: #4a55a2;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 3em;
}

.padding {
  padding: 1.5em;
}

.margin-down {
  margin-bottom: 0.2em;
}

.filter.margin-down {
  margin-bottom: 0.5em;
}

button {
  background-color: #4a55a2;
  border: 0px;
}

.filter button {
  background-color: #c5dff8;
  border: 0px;
}

.white {
  color: white;
}

.align-self {
  align-self: center;
}

.container {
  /* flex-basis: 50%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  flex-basis: 80%;
  margin-bottom: 1em;
  /* border: 1px solid red; */
}

.jewelery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  flex-basis: 100%;
  display: none;
}

.electronic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  flex-basis: 100%;
  display: none;
}

.men {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  flex-basis: 100%;
  display: none;
}

.women {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  flex-basis: 100%;
  display: none;
}

.image {
  height: 10em;
  width: 10em;
  mix-blend-mode: darken;
  /* border: 1px solid red; */
}

.tile {
  display: flex;
  flex-direction: column;
  /* gap:0em; */
  background-color: #e5e5e5;
  flex-basis: 35em;
  padding: 4% 2%;
  /* border: 1px solid red; */
}

.details {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* border: 1px solid red; */
  /* margin-top:-2em; */
}

button:hover {
  cursor: pointer;
}

.justify-between {
  justify-content: space-between;
}

.logo{
   display: flex;
   justify-content: center;
}

/* .flex-column span {
    margin: -4em -2em 0em 0em;
   
} */

.space-around {
    justify-content: space-around;
}

.blue {
  color: #4a55a2;
  font-weight: 600;
}

.category-text {
  font-size: 15px;
  margin-bottom: 0.8em;
  /* border: 1px solid red; */
}

.gray {
  color: rgb(170, 164, 164);
}

/* .align-end {
  margin-bottom: -2em;
} */

.form-flex {
  display: flex;
  flex-direction: column;
  gap: 2em;
  border: 1px solid #4a55a2;
  padding: 2em 4em;
  background-color: #c5dff8;
  margin-top: 2em;
  color: #4a55a2;
  border-radius: 10px;
  font-weight: 500;
  flex-basis: 30%;
}

form button {
  padding: 0.5em 0.8em;
  border-radius: 10px;
  font-size: 20px;
  color: white;
}

input {
  padding: 0.2em 0.2em;
  border-radius: 5px;
  /* flex-basis: 20%; */
  font-size: 20px;
}

.sign-up {
  font-size: 30px;
  font-weight: 600;
  /* color: white; */
}

#alert {
  color: red;
}

button {
  width: 100%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.price {
  color: #443738;
  font-weight: bold;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

header img {
    height:100px;
    width:100px;
    mix-blend-mode:lighten; 
    
}


.error {
  font-size: larger;
  color: rgb(15, 14, 14);
 
}

#no-product {
  display: none;
  position: relative;
  width: 800px;
  height: 800px;
  top:20vh;
  left: 45vw;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 800px;
  height: 800px;
  top:20vh;
  left: 45vw;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #d81111;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0e0f0e transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

 .error-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .error-title {
      font-size: 48px;
      color: #555;
      margin-bottom: 20px;
    }

    .error-message {
      font-size: 24px;
      color: #777;
      margin-bottom: 40px;
    }

    .error-image {
      width: 200px;
      height: auto;
      margin-bottom: 40px;
    }

    .error-link {
      font-size: 18px;
      color: hsl(246, 100%, 50%);
      text-decoration: none;
    }















@media (max-width: 480px) and (max-width: 780px) {
  .flex {
    flex-wrap: wrap;
  }

  .container {
    flex-basis: 100%;
  }

  .tile {
    flex-basis: 20em;
    padding: 10% 4%;
  }
}


